{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenSubtitles API",
    "description": "Explore subtitles API here",
    "contact": {
      "name": "OpenSubtitles API Support",
      "url": "https://www.opensubtitles.com/en/contact/",
      "email": "support@opensubtitles.org"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.1",
    "termsOfService": "https://www.opensubtitles.com/en/tos/"
  },
  "servers": [
    {
      "url": "https://api.opensubtitles.com/api/v1",
      "description": "Default server"
    },
    {
      "url": "https://vip-api.opensubtitles.com/api/v1",
      "description": "VIP server"
    }
  ],
  "tags": [
    {
      "name": "Infos",
      "description": "General API infos"
    },
    {
      "name": "Authentication",
      "description": "Authentification of user"
    },
    {
      "name": "Discover",
      "description": "Discover popular, latest and most downloaded subtitles"
    },
    {
      "name": "Download",
      "description": "Download of subtitles"
    },
    {
      "name": "Subtitles",
      "description": "Subtitles search for a specific release"
    },
    {
      "name": "Features",
      "description": "Search for feature"
    },
    {
      "name": "Utilities",
      "description": "Various utilities"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "description": "Create a token to authenticate a user. If response code is ```401 Unathorized``` stop sending further requests with the same credentials, login is \"expensive\" operation.\n\nRequest rate limit is 1 request per 1 second.\n\nFurther API requests must continue on returned ```base_url``` host, which can have different cache time for search results and different request rate limits. If ```base_url``` equals ```vip-api.opensubtitles.com``` make sure you always send with every request JWT token (if available), otherwise request might fail with 4xx code.",
        "operationId": "login",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "application/json",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "example": {
                    "username": "",
                    "password": ""
                  }
                },
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Create session and token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "required": [
                        "allowed_translations",
                        "allowed_downloads",
                        "level",
                        "user_id",
                        "ext_installed",
                        "vip"
                      ],
                      "properties": {
                        "allowed_translations": {
                          "type": "number"
                        },
                        "allowed_downloads": {
                          "type": "number"
                        },
                        "level": {
                          "minLength": 1,
                          "type": "string",
                          "example": "VIP Member"
                        },
                        "user_id": {
                          "type": "number"
                        },
                        "ext_installed": {
                          "type": "boolean"
                        },
                        "vip": {
                          "type": "boolean"
                        }
                      }
                    },
                    "base_url": {
                      "type": "string",
                      "format": "hostname",
                      "default": "api.opensubtitles.com",
                      "example": "api.opensubtitles.com",
                      "enum": [
                        "api.opensubtitles.com",
                        "vip-api.opensubtitles.com"
                      ]
                    },
                    "token": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "user",
                    "base_url",
                    "token",
                    "status"
                  ]
                },
                "example": {
                  "user": {
                    "allowed_downloads": 100,
                    "allowed_translations": 5,
                    "level": "Sub leecher",
                    "user_id": 66,
                    "ext_installed": false,
                    "vip": false
                  },
                  "base_url": "api.opensubtitles.com",
                  "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJEOU5aaWUyVjhWOU1hTnJVZWVvcEEwWUNoWEt6Wkx3NiIsImV4cCI6MTYwNDM1ODAwMH0.sMibjAFnkcs-HJ4zhdCwBeGrZ_UvzMbgl5NxYV2uALM",
                  "status": 200
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Api-Key": []
          }
        ]
      }
    },
    "/logout": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Destroy a user token to end a session. Bearer token is required for this endpoint.",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Destroy session and current token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "token successfully destroyed",
                  "status": 200
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer": []
          },
          {
            "Api-Key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ]
      }
    },
    "/infos/formats": {
      "get": {
        "tags": [
          "Infos"
        ],
        "summary": "Subtitle Formats",
        "description": "List subtitle formats recognized by the API  ",
        "operationId": "formats",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "data": {
                        "output_formats": [
                          "srt",
                          "sub",
                          "mpl",
                          "webvtt",
                          "dfxp",
                          "txt"
                        ]
                      }
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "output_formats"
                      ],
                      "properties": {
                        "output_formats": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "output_formats": [
                          "srt",
                          "sub",
                          "mpl",
                          "webvtt",
                          "dfxp",
                          "txt"
                        ]
                      }
                    }
                  }
                }
              },
              "example": {
                "example": {
                  "data": {
                    "output_formats": [
                      "srt",
                      "sub",
                      "mpl",
                      "webvtt",
                      "dfxp",
                      "txt"
                    ]
                  },
                  "value": {
                    "data": {
                      "output_formats": [
                        "srt",
                        "sub",
                        "mpl",
                        "webvtt",
                        "dfxp",
                        "txt"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Api-Key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ]
      }
    },
    "/infos/languages": {
      "get": {
        "tags": [
          "Infos"
        ],
        "summary": "Languages",
        "description": "Get the languages information",
        "operationId": "languages",
        "responses": {
          "200": {
            "description": "Get the languages table containing the codes and names used through the API",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "minItems": 1,
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "required": [
                          "language_code",
                          "language_name"
                        ],
                        "type": "object",
                        "properties": {
                          "language_code": {
                            "minLength": 1,
                            "type": "string"
                          },
                          "language_name": {
                            "minLength": 1,
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "description": ""
                },
                "example": {
                  "data": [
                    {
                      "language_code": "af",
                      "language_name": "Afrikaans"
                    },
                    {
                      "language_code": "sq",
                      "language_name": "Albanian"
                    },
                    {
                      "language_code": "ar",
                      "language_name": "Arabic"
                    },
                    {
                      "language_code": "an",
                      "language_name": "Aragonese"
                    },
                    {
                      "language_code": "hy",
                      "language_name": "Armenian"
                    },
                    {
                      "language_code": "at",
                      "language_name": "Asturian"
                    },
                    {
                      "language_code": "eu",
                      "language_name": "Basque"
                    },
                    {
                      "language_code": "be",
                      "language_name": "Belarusian"
                    },
                    {
                      "language_code": "bn",
                      "language_name": "Bengali"
                    },
                    {
                      "language_code": "bs",
                      "language_name": "Bosnian"
                    },
                    {
                      "language_code": "br",
                      "language_name": "Breton"
                    },
                    {
                      "language_code": "bg",
                      "language_name": "Bulgarian"
                    },
                    {
                      "language_code": "my",
                      "language_name": "Burmese"
                    },
                    {
                      "language_code": "ca",
                      "language_name": "Catalan"
                    },
                    {
                      "language_code": "zh-cn",
                      "language_name": "Chinese (simplified)"
                    },
                    {
                      "language_code": "cs",
                      "language_name": "Czech"
                    },
                    {
                      "language_code": "da",
                      "language_name": "Danish"
                    },
                    {
                      "language_code": "nl",
                      "language_name": "Dutch"
                    },
                    {
                      "language_code": "en",
                      "language_name": "English"
                    },
                    {
                      "language_code": "eo",
                      "language_name": "Esperanto"
                    },
                    {
                      "language_code": "et",
                      "language_name": "Estonian"
                    },
                    {
                      "language_code": "fi",
                      "language_name": "Finnish"
                    },
                    {
                      "language_code": "fr",
                      "language_name": "French"
                    },
                    {
                      "language_code": "ka",
                      "language_name": "Georgian"
                    },
                    {
                      "language_code": "de",
                      "language_name": "German"
                    },
                    {
                      "language_code": "gl",
                      "language_name": "Galician"
                    },
                    {
                      "language_code": "el",
                      "language_name": "Greek"
                    },
                    {
                      "language_code": "he",
                      "language_name": "Hebrew"
                    },
                    {
                      "language_code": "hi",
                      "language_name": "Hindi"
                    },
                    {
                      "language_code": "hr",
                      "language_name": "Croatian"
                    },
                    {
                      "language_code": "hu",
                      "language_name": "Hungarian"
                    },
                    {
                      "language_code": "is",
                      "language_name": "Icelandic"
                    },
                    {
                      "language_code": "id",
                      "language_name": "Indonesian"
                    },
                    {
                      "language_code": "it",
                      "language_name": "Italian"
                    },
                    {
                      "language_code": "ja",
                      "language_name": "Japanese"
                    },
                    {
                      "language_code": "kk",
                      "language_name": "Kazakh"
                    },
                    {
                      "language_code": "km",
                      "language_name": "Khmer"
                    },
                    {
                      "language_code": "ko",
                      "language_name": "Korean"
                    },
                    {
                      "language_code": "lv",
                      "language_name": "Latvian"
                    },
                    {
                      "language_code": "lt",
                      "language_name": "Lithuanian"
                    },
                    {
                      "language_code": "lb",
                      "language_name": "Luxembourgish"
                    },
                    {
                      "language_code": "mk",
                      "language_name": "Macedonian"
                    },
                    {
                      "language_code": "ml",
                      "language_name": "Malayalam"
                    },
                    {
                      "language_code": "ms",
                      "language_name": "Malay"
                    },
                    {
                      "language_code": "ma",
                      "language_name": "Manipuri"
                    },
                    {
                      "language_code": "mn",
                      "language_name": "Mongolian"
                    },
                    {
                      "language_code": "no",
                      "language_name": "Norwegian"
                    },
                    {
                      "language_code": "oc",
                      "language_name": "Occitan"
                    },
                    {
                      "language_code": "fa",
                      "language_name": "Persian"
                    },
                    {
                      "language_code": "pl",
                      "language_name": "Polish"
                    },
                    {
                      "language_code": "pt-pt",
                      "language_name": "Portuguese"
                    },
                    {
                      "language_code": "ru",
                      "language_name": "Russian"
                    },
                    {
                      "language_code": "sr",
                      "language_name": "Serbian"
                    },
                    {
                      "language_code": "si",
                      "language_name": "Sinhalese"
                    },
                    {
                      "language_code": "sk",
                      "language_name": "Slovak"
                    },
                    {
                      "language_code": "sl",
                      "language_name": "Slovenian"
                    },
                    {
                      "language_code": "es",
                      "language_name": "Spanish"
                    },
                    {
                      "language_code": "sw",
                      "language_name": "Swahili"
                    },
                    {
                      "language_code": "sv",
                      "language_name": "Swedish"
                    },
                    {
                      "language_code": "sy",
                      "language_name": "Syriac"
                    },
                    {
                      "language_code": "ta",
                      "language_name": "Tamil"
                    },
                    {
                      "language_code": "te",
                      "language_name": "Telugu"
                    },
                    {
                      "language_code": "tl",
                      "language_name": "Tagalog"
                    },
                    {
                      "language_code": "th",
                      "language_name": "Thai"
                    },
                    {
                      "language_code": "tr",
                      "language_name": "Turkish"
                    },
                    {
                      "language_code": "uk",
                      "language_name": "Ukrainian"
                    },
                    {
                      "language_code": "ur",
                      "language_name": "Urdu"
                    },
                    {
                      "language_code": "uz",
                      "language_name": "Uzbek"
                    },
                    {
                      "language_code": "vi",
                      "language_name": "Vietnamese"
                    },
                    {
                      "language_code": "ro",
                      "language_name": "Romanian"
                    },
                    {
                      "language_code": "pt-br",
                      "language_name": "Portuguese (Brazilian)"
                    },
                    {
                      "language_code": "me",
                      "language_name": "Montenegrin"
                    },
                    {
                      "language_code": "zh-tw",
                      "language_name": "Chinese (traditional)"
                    },
                    {
                      "language_code": "ze",
                      "language_name": "Chinese bilingual"
                    }
                  ]
                }
              },
              "example": {
                "example": {
                  "data": [
                    {
                      "language_code": "af",
                      "language_name": "Afrikaans"
                    },
                    {
                      "language_code": "sq",
                      "language_name": "Albanian"
                    },
                    {
                      "language_code": "ar",
                      "language_name": "Arabic"
                    },
                    {
                      "language_code": "an",
                      "language_name": "Aragonese"
                    },
                    {
                      "language_code": "hy",
                      "language_name": "Armenian"
                    },
                    {
                      "language_code": "at",
                      "language_name": "Asturian"
                    },
                    {
                      "language_code": "eu",
                      "language_name": "Basque"
                    },
                    {
                      "language_code": "be",
                      "language_name": "Belarusian"
                    },
                    {
                      "language_code": "bn",
                      "language_name": "Bengali"
                    },
                    {
                      "language_code": "bs",
                      "language_name": "Bosnian"
                    },
                    {
                      "language_code": "br",
                      "language_name": "Breton"
                    },
                    {
                      "language_code": "bg",
                      "language_name": "Bulgarian"
                    },
                    {
                      "language_code": "my",
                      "language_name": "Burmese"
                    },
                    {
                      "language_code": "ca",
                      "language_name": "Catalan"
                    },
                    {
                      "language_code": "zh-cn",
                      "language_name": "Chinese (simplified)"
                    },
                    {
                      "language_code": "cs",
                      "language_name": "Czech"
                    },
                    {
                      "language_code": "da",
                      "language_name": "Danish"
                    },
                    {
                      "language_code": "nl",
                      "language_name": "Dutch"
                    },
                    {
                      "language_code": "en",
                      "language_name": "English"
                    },
                    {
                      "language_code": "eo",
                      "language_name": "Esperanto"
                    },
                    {
                      "language_code": "et",
                      "language_name": "Estonian"
                    },
                    {
                      "language_code": "fi",
                      "language_name": "Finnish"
                    },
                    {
                      "language_code": "fr",
                      "language_name": "French"
                    },
                    {
                      "language_code": "ka",
                      "language_name": "Georgian"
                    },
                    {
                      "language_code": "de",
                      "language_name": "German"
                    },
                    {
                      "language_code": "gl",
                      "language_name": "Galician"
                    },
                    {
                      "language_code": "el",
                      "language_name": "Greek"
                    },
                    {
                      "language_code": "he",
                      "language_name": "Hebrew"
                    },
                    {
                      "language_code": "hi",
                      "language_name": "Hindi"
                    },
                    {
                      "language_code": "hr",
                      "language_name": "Croatian"
                    },
                    {
                      "language_code": "hu",
                      "language_name": "Hungarian"
                    },
                    {
                      "language_code": "is",
                      "language_name": "Icelandic"
                    },
                    {
                      "language_code": "id",
                      "language_name": "Indonesian"
                    },
                    {
                      "language_code": "it",
                      "language_name": "Italian"
                    },
                    {
                      "language_code": "ja",
                      "language_name": "Japanese"
                    },
                    {
                      "language_code": "kk",
                      "language_name": "Kazakh"
                    },
                    {
                      "language_code": "km",
                      "language_name": "Khmer"
                    },
                    {
                      "language_code": "ko",
                      "language_name": "Korean"
                    },
                    {
                      "language_code": "lv",
                      "language_name": "Latvian"
                    },
                    {
                      "language_code": "lt",
                      "language_name": "Lithuanian"
                    },
                    {
                      "language_code": "lb",
                      "language_name": "Luxembourgish"
                    },
                    {
                      "language_code": "mk",
                      "language_name": "Macedonian"
                    },
                    {
                      "language_code": "ml",
                      "language_name": "Malayalam"
                    },
                    {
                      "language_code": "ms",
                      "language_name": "Malay"
                    },
                    {
                      "language_code": "ma",
                      "language_name": "Manipuri"
                    },
                    {
                      "language_code": "mn",
                      "language_name": "Mongolian"
                    },
                    {
                      "language_code": "no",
                      "language_name": "Norwegian"
                    },
                    {
                      "language_code": "oc",
                      "language_name": "Occitan"
                    },
                    {
                      "language_code": "fa",
                      "language_name": "Persian"
                    },
                    {
                      "language_code": "pl",
                      "language_name": "Polish"
                    },
                    {
                      "language_code": "pt-pt",
                      "language_name": "Portuguese"
                    },
                    {
                      "language_code": "ru",
                      "language_name": "Russian"
                    },
                    {
                      "language_code": "sr",
                      "language_name": "Serbian"
                    },
                    {
                      "language_code": "si",
                      "language_name": "Sinhalese"
                    },
                    {
                      "language_code": "sk",
                      "language_name": "Slovak"
                    },
                    {
                      "language_code": "sl",
                      "language_name": "Slovenian"
                    },
                    {
                      "language_code": "es",
                      "language_name": "Spanish"
                    },
                    {
                      "language_code": "sw",
                      "language_name": "Swahili"
                    },
                    {
                      "language_code": "sv",
                      "language_name": "Swedish"
                    },
                    {
                      "language_code": "sy",
                      "language_name": "Syriac"
                    },
                    {
                      "language_code": "ta",
                      "language_name": "Tamil"
                    },
                    {
                      "language_code": "te",
                      "language_name": "Telugu"
                    },
                    {
                      "language_code": "tl",
                      "language_name": "Tagalog"
                    },
                    {
                      "language_code": "th",
                      "language_name": "Thai"
                    },
                    {
                      "language_code": "tr",
                      "language_name": "Turkish"
                    },
                    {
                      "language_code": "uk",
                      "language_name": "Ukrainian"
                    },
                    {
                      "language_code": "ur",
                      "language_name": "Urdu"
                    },
                    {
                      "language_code": "uz",
                      "language_name": "Uzbek"
                    },
                    {
                      "language_code": "vi",
                      "language_name": "Vietnamese"
                    },
                    {
                      "language_code": "ro",
                      "language_name": "Romanian"
                    },
                    {
                      "language_code": "pt-br",
                      "language_name": "Portuguese (Brazilian)"
                    },
                    {
                      "language_code": "me",
                      "language_name": "Montenegrin"
                    },
                    {
                      "language_code": "zh-tw",
                      "language_name": "Chinese (traditional)"
                    },
                    {
                      "language_code": "ze",
                      "language_name": "Chinese bilingual"
                    },
                    {
                      "language_code": "se",
                      "language_name": "Northern Sami"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Api-Key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ]
      }
    },
    "/infos/user": {
      "get": {
        "tags": [
          "Infos"
        ],
        "summary": "User Informations",
        "description": "Gather informations about the user authenticated by a bearer token. User information are already sent when user is authenticated, and the remaining downloads is returned with each download, but you can also get these information here.",
        "operationId": "userinfo",
        "responses": {
          "200": {
            "description": "Get user data",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "allowed_downloads",
                        "downloads_count",
                        "ext_installed",
                        "level",
                        "remaining_downloads",
                        "user_id",
                        "vip"
                      ],
                      "type": "object",
                      "properties": {
                        "allowed_downloads": {
                          "type": "number"
                        },
                        "level": {
                          "minLength": 1,
                          "type": "string"
                        },
                        "user_id": {
                          "type": "number"
                        },
                        "ext_installed": {
                          "type": "boolean"
                        },
                        "vip": {
                          "type": "boolean"
                        },
                        "downloads_count": {
                          "type": "number"
                        },
                        "remaining_downloads": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "description": ""
                },
                "example": {
                  "data": {
                    "allowed_downloads": 100,
                    "level": "Sub leecher",
                    "user_id": 66,
                    "ext_installed": false,
                    "vip": false,
                    "downloads_count": 1,
                    "remaining_downloads": 99
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Bearer": []
          },
          {
            "Api-Key": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ]
      }
    },
    "/discover/popular": {
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Popular features",
        "description": "Discover popular features on opensubtitles.com, according to last 30 days downloads.",
        "operationId": "popular",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language code, 1 language per query, or \"all\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type (movie or tvshow)",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subtitle"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Api-Key": []
          }
        ]
      }
    },
    "/discover/latest": {
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Latest subtitles",
        "description": "Lists 60 latest uploaded subtitles",
        "operationId": "latest",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language code, 1 language per query, or \"all\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type (movie or tvshow)",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "page",
                    "total_count",
                    "total_pages"
                  ],
                  "type": "object",
                  "properties": {
                    "total_pages": {
                      "type": "number"
                    },
                    "total_count": {
                      "type": "number"
                    },
                    "page": {
                      "type": "number"
                    },
                    "data": {
                      "minItems": 1,
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "required": [
                          "id",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "minLength": 1,
                            "type": "string"
                          },
                          "type": {
                            "minLength": 1,
                            "type": "string"
                          },
                          "attributes": {
                            "required": [
                              "ai_translated",
                              "comments",
                              "download_count",
                              "feature_details",
                              "files",
                              "foreign_parts_only",
                              "fps",
                              "from_trusted",
                              "hd",
                              "hearing_impaired",
                              "language",
                              "legacy_subtitle_id",
                              "new_download_count",
                              "points",
                              "ratings",
                              "related_links",
                              "release",
                              "subtitle_id",
                              "upload_date",
                              "uploader",
                              "url",
                              "votes"
                            ],
                            "type": "object",
                            "properties": {
                              "subtitle_id": {
                                "minLength": 1,
                                "type": "string"
                              },
                              "language": {
                                "minLength": 1,
                                "type": "string"
                              },
                              "download_count": {
                                "type": "number"
                              },
                              "new_download_count": {
                                "type": "number"
                              },
                              "hearing_impaired": {
                                "type": "boolean"
                              },
                              "hd": {
                                "type": "boolean"
                              },
                              "format": {
                                "type": "object"
                              },
                              "fps": {
                                "type": "number"
                              },
                              "votes": {
                                "type": "number"
                              },
                              "points": {
                                "type": "number"
                              },
                              "ratings": {
                                "type": "number"
                              },
                              "from_trusted": {
                                "type": "boolean"
                              },
                              "foreign_parts_only": {
                                "type": "boolean"
                              },
                              "ai_translated": {
                                "type": "boolean"
                              },
                              "machine_translated": {
                                "type": "object"
                              },
                              "upload_date": {
                                "minLength": 1,
                                "type": "string"
                              },
                              "release": {
                                "minLength": 1,
                                "type": "string"
                              },
                              "comments": {
                                "type": "string"
                              },
                              "legacy_subtitle_id": {
                                "type": "number"
                              },
                              "uploader": {
                                "required": [
                                  "name",
                                  "rank",
                                  "uploader_id"
                                ],
                                "type": "object",
                                "properties": {
                                  "uploader_id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "rank": {
                                    "minLength": 1,
                                    "type": "string"
                                  }
                                }
                              },
                              "feature_details": {
                                "required": [
                                  "feature_id",
                                  "feature_type",
                                  "imdb_id",
                                  "movie_name",
                                  "title",
                                  "year"
                                ],
                                "type": "object",
                                "properties": {
                                  "feature_id": {
                                    "type": "number"
                                  },
                                  "feature_type": {
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "year": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "movie_name": {
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "imdb_id": {
                                    "type": "number"
                                  },
                                  "tmdb_id": {
                                    "type": "object"
                                  }
                                }
                              },
                              "url": {
                                "minLength": 1,
                                "type": "string"
                              },
                              "related_links": {
                                "required": [
                                  "img_url",
                                  "label",
                                  "url"
                                ],
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "url": {
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "img_url": {
                                    "minLength": 1,
                                    "type": "string"
                                  }
                                }
                              },
                              "files": {
                                "minItems": 1,
                                "uniqueItems": true,
                                "type": "array",
                                "items": {
                                  "required": [
                                    "cd_number",
                                    "file_id",
                                    "file_name"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "file_id": {
                                      "type": "number"
                                    },
                                    "cd_number": {
                                      "type": "number"
                                    },
                                    "file_name": {
                                      "minLength": 1,
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "description": ""
                },
                "examples": {
                  "example": {
                    "value": {
                      "total_pages": 1,
                      "total_count": 10,
                      "page": 1,
                      "data": [
                        {
                          "id": "string",
                          "type": "string",
                          "attributes": {
                            "subtitle_id": "string",
                            "language": "string",
                            "download_count": 0,
                            "new_download_count": 0,
                            "hearing_impaired": true,
                            "hd": true,
                            "format": {},
                            "fps": 0,
                            "votes": 0,
                            "points": 0,
                            "ratings": 0,
                            "from_trusted": true,
                            "foreign_parts_only": true,
                            "ai_translated": true,
                            "machine_translated": {},
                            "upload_date": "string",
                            "release": "string",
                            "comments": "string",
                            "legacy_subtitle_id": 0,
                            "uploader": {
                              "uploader_id": 0,
                              "name": "string",
                              "rank": "string"
                            },
                            "feature_details": {
                              "feature_id": 0,
                              "feature_type": "string",
                              "year": 0,
                              "title": "string",
                              "movie_name": "string",
                              "imdb_id": 0,
                              "tmdb_id": {}
                            },
                            "url": "string",
                            "related_links": {
                              "label": "string",
                              "url": "string",
                              "img_url": "string"
                            },
                            "files": [
                              {
                                "file_id": 0,
                                "cd_number": 0,
                                "file_name": "string"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "example": {
                "example": {
                  "total_pages": 1,
                  "total_count": 60,
                  "page": 1,
                  "data": [
                    {
                      "id": "6150116",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "6150116",
                        "language": "sv",
                        "download_count": 0,
                        "new_download_count": 0,
                        "hearing_impaired": false,
                        "hd": true,
                        "fps": 0,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": true,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "upload_date": "2021-11-10T13:48:58.000Z",
                        "release": "No.Sudden.Move.2021.1080p.WEB.H264-TIMECUT",
                        "comments": "",
                        "legacy_subtitle_id": 8871896,
                        "uploader": {
                          "uploader_id": 83676,
                          "name": "Nemo_",
                          "rank": "Trusted member"
                        },
                        "feature_details": {
                          "feature_id": 1226096,
                          "feature_type": "Movie",
                          "year": 2021,
                          "title": "No Sudden Move",
                          "movie_name": "2021 - No Sudden Move",
                          "imdb_id": 11525644,
                          "tmdb_id": 649409
                        },
                        "url": "https://www.opensubtitles.com/sv/subtitles/legacy/8871896",
                        "related_links": {
                          "label": "All subtitles for No Sudden Move",
                          "url": "https://www.opensubtitles.com/sv/movies/2021-no-sudden-move",
                          "img_url": "https://s9.osdb.link/features/6/9/0/1226096.jpg"
                        },
                        "files": [
                          {
                            "file_id": 7086008,
                            "cd_number": 1,
                            "file_name": "No.Sudden.Move.2021.1080p.WEB.H264-TIMECUT.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "6150127",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "6150127",
                        "language": "zh-CN",
                        "download_count": 12,
                        "new_download_count": 2,
                        "hearing_impaired": false,
                        "hd": true,
                        "fps": 0,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "upload_date": "2021-11-10T13:45:35.000Z",
                        "release": "Shang.Chi.and.the.Legend.of.the.Ten.Rings.2021.COMPLETE.UHD.BLURAY-SURCODE",
                        "comments": "",
                        "legacy_subtitle_id": 8871895,
                        "uploader": {
                          "uploader_id": 0,
                          "name": "Anonymous",
                          "rank": "anonymous"
                        },
                        "feature_details": {
                          "feature_id": 1218697,
                          "feature_type": "Movie",
                          "year": 2021,
                          "title": "Shang-Chi and the Legend of the Ten Rings",
                          "movie_name": "2021 - Shang-Chi and the Legend of the Ten Rings",
                          "imdb_id": 9376612,
                          "tmdb_id": 566525
                        },
                        "url": "https://www.opensubtitles.com/zh-CN/subtitles/legacy/8871895",
                        "related_links": {
                          "label": "All subtitles for Shang-Chi and the Legend of the Ten Rings",
                          "url": "https://www.opensubtitles.com/zh-CN/movies/2021-shang-chi-and-the-legend-of-the-ten-rings",
                          "img_url": "https://s9.osdb.link/features/7/9/6/1218697.jpg"
                        },
                        "files": [
                          {
                            "file_id": 7086014,
                            "cd_number": 1,
                            "file_name": "Shang.Chi.and.the.Legend.of.the.Ten.Rings.2021.COMPLETE.UHD.BLURAY-SURCODE.ass"
                          }
                        ]
                      }
                    }
                  ],
                  "value": {
                    "total_pages": 1,
                    "total_count": 60,
                    "page": 1,
                    "data": [
                      {
                        "id": "6150116",
                        "type": "subtitle",
                        "attributes": {
                          "subtitle_id": "6150116",
                          "language": "sv",
                          "download_count": 0,
                          "new_download_count": 0,
                          "hearing_impaired": false,
                          "hd": true,
                          "fps": 0,
                          "votes": 0,
                          "points": 0,
                          "ratings": 0,
                          "from_trusted": true,
                          "foreign_parts_only": false,
                          "ai_translated": false,
                          "upload_date": "2021-11-10T13:48:58.000Z",
                          "release": "No.Sudden.Move.2021.1080p.WEB.H264-TIMECUT",
                          "comments": "",
                          "legacy_subtitle_id": 8871896,
                          "uploader": {
                            "uploader_id": 83676,
                            "name": "Nemo_",
                            "rank": "Trusted member"
                          },
                          "feature_details": {
                            "feature_id": 1226096,
                            "feature_type": "Movie",
                            "year": 2021,
                            "title": "No Sudden Move",
                            "movie_name": "2021 - No Sudden Move",
                            "imdb_id": 11525644,
                            "tmdb_id": 649409
                          },
                          "url": "https://www.opensubtitles.com/sv/subtitles/legacy/8871896",
                          "related_links": {
                            "label": "All subtitles for No Sudden Move",
                            "url": "https://www.opensubtitles.com/sv/movies/2021-no-sudden-move",
                            "img_url": "https://s9.osdb.link/features/6/9/0/1226096.jpg"
                          },
                          "files": [
                            {
                              "file_id": 7086008,
                              "cd_number": 1,
                              "file_name": "No.Sudden.Move.2021.1080p.WEB.H264-TIMECUT.srt"
                            }
                          ]
                        }
                      },
                      {
                        "id": "6150127",
                        "type": "subtitle",
                        "attributes": {
                          "subtitle_id": "6150127",
                          "language": "zh-CN",
                          "download_count": 12,
                          "new_download_count": 2,
                          "hearing_impaired": false,
                          "hd": true,
                          "fps": 0,
                          "votes": 0,
                          "points": 0,
                          "ratings": 0,
                          "from_trusted": false,
                          "foreign_parts_only": false,
                          "ai_translated": false,
                          "upload_date": "2021-11-10T13:45:35.000Z",
                          "release": "Shang.Chi.and.the.Legend.of.the.Ten.Rings.2021.COMPLETE.UHD.BLURAY-SURCODE",
                          "comments": "",
                          "legacy_subtitle_id": 8871895,
                          "uploader": {
                            "name": "Anonymous",
                            "rank": "anonymous"
                          },
                          "feature_details": {
                            "feature_id": 1218697,
                            "feature_type": "Movie",
                            "year": 2021,
                            "title": "Shang-Chi and the Legend of the Ten Rings",
                            "movie_name": "2021 - Shang-Chi and the Legend of the Ten Rings",
                            "imdb_id": 9376612,
                            "tmdb_id": 566525
                          },
                          "url": "https://www.opensubtitles.com/zh-CN/subtitles/legacy/8871895",
                          "related_links": {
                            "label": "All subtitles for Shang-Chi and the Legend of the Ten Rings",
                            "url": "https://www.opensubtitles.com/zh-CN/movies/2021-shang-chi-and-the-legend-of-the-ten-rings",
                            "img_url": "https://s9.osdb.link/features/7/9/6/1218697.jpg"
                          },
                          "files": [
                            {
                              "file_id": 7086014,
                              "cd_number": 1,
                              "file_name": "Shang.Chi.and.the.Legend.of.the.Ten.Rings.2021.COMPLETE.UHD.BLURAY-SURCODE.ass"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Api-Key": []
          }
        ]
      }
    },
    "/discover/most_downloaded": {
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Most downloaded subtitles",
        "description": "Discover popular subtitles, according to last 30 days downloads on opensubtitles.com. This list can be filtered by language code or feature type (movie, episode)",
        "operationId": "most_downloaded",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language code, 1 language per query, or \"all\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type (movie or tvshow)",
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "User-Agent",
            "description": "<<{{APP_NAME}} v{{APP_VERSION}}>>"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists most downloaded movie subtitles ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "total_pages": {
                      "type": "number"
                    },
                    "total_count": {
                      "type": "number"
                    },
                    "page": {
                      "type": "number"
                    },
                    "data": {
                      "minItems": 1,
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subtitle"
                      }
                    }
                  },
                  "required": [
                    "total_pages",
                    "total_count",
                    "page",
                    "data"
                  ]
                },
                "example": {
                  "total_pages": 1,
                  "total_count": 46,
                  "page": 1,
                  "data": [
                    {
                      "id": "493023",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "493023",
                        "language": "nl",
                        "download_count": 3889,
                        "new_download_count": 11,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "srt",
                        "fps": 29.97,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2010-11-15T14:55:39.000Z",
                        "release": "Major League WS DVDRip",
                        "comments": "",
                        "legacy_subtitle_id": 3956266,
                        "uploader": {
                          "uploader_id": 3282,
                          "name": "COF7CJpS",
                          "rank": "app developer"
                        },
                        "feature_details": {
                          "feature_id": 518105,
                          "feature_type": "Movie",
                          "year": 1989,
                          "title": "Major League",
                          "movie_name": "1989 - Major League",
                          "imdb_id": 97815,
                          "tmdb_id": 9942
                        },
                        "url": "https://www.opensubtitles.com/nl/subtitles/legacy/3956266",
                        "related_links": [
                          {
                            "label": "All subtitles for Major League",
                            "url": "https://www.opensubtitles.com/nl/movies/1989-major-league",
                            "img_url": "https://s9.osdb.link/features/5/0/1/518105.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 544077,
                            "cd_number": 1,
                            "file_name": "Major League WS DVDRip.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "496423",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "496423",
                        "language": "es",
                        "download_count": 674,
                        "new_download_count": 5,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "",
                        "fps": 29.97,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2008-03-23T21:04:04.000Z",
                        "release": "Le mépris",
                        "comments": "",
                        "legacy_subtitle_id": 3264195,
                        "uploader": {
                          "uploader_id": 3282,
                          "name": "COF7CJpS",
                          "rank": "app developer"
                        },
                        "feature_details": {
                          "feature_id": 518020,
                          "feature_type": "Movie",
                          "year": 1963,
                          "title": "Contempt",
                          "movie_name": "1963 - Contempt",
                          "imdb_id": 57345,
                          "tmdb_id": 266
                        },
                        "url": "https://www.opensubtitles.com/es/subtitles/legacy/3264195",
                        "related_links": [
                          {
                            "label": "All subtitles for Contempt",
                            "url": "https://www.opensubtitles.com/es/movies/1963-contempt",
                            "img_url": "https://s9.osdb.link/features/0/2/0/518020.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 6028018,
                            "cd_number": 1,
                            "file_name": "Le mepris-es.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "495449",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "495449",
                        "language": "pt-BR",
                        "download_count": 189,
                        "new_download_count": 1,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "",
                        "fps": 23.976,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2012-07-14T19:47:18.000Z",
                        "release": "Gnger Snaps",
                        "comments": "",
                        "legacy_subtitle_id": 4617243,
                        "uploader": {
                          "uploader_id": 3282,
                          "name": "COF7CJpS",
                          "rank": "app developer"
                        },
                        "feature_details": {
                          "feature_id": 518342,
                          "feature_type": "Movie",
                          "year": 2000,
                          "title": "Ginger Snaps",
                          "movie_name": "2000 - Ginger Snaps",
                          "imdb_id": 210070,
                          "tmdb_id": 9871
                        },
                        "url": "https://www.opensubtitles.com/pt-BR/subtitles/legacy/4617243",
                        "related_links": [
                          {
                            "label": "All subtitles for Ginger Snaps",
                            "url": "https://www.opensubtitles.com/pt-BR/movies/2000-ginger-snaps",
                            "img_url": "https://s9.osdb.link/features/2/4/3/518342.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 546827,
                            "cd_number": 1,
                            "file_name": "Ginger Snaps [2000] DvDrip [Eng] Bugz.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "496964",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "496964",
                        "language": "es",
                        "download_count": 1190,
                        "new_download_count": 7,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "",
                        "fps": 23.976,
                        "votes": 1,
                        "points": 10,
                        "ratings": 10,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2012-05-18T00:13:46.000Z",
                        "release": "1963.El desprecio (subt)",
                        "comments": "",
                        "legacy_subtitle_id": 4552383,
                        "uploader": {
                          "uploader_id": 63170,
                          "name": "robot2xl",
                          "rank": "read only"
                        },
                        "feature_details": {
                          "feature_id": 518020,
                          "feature_type": "Movie",
                          "year": 1963,
                          "title": "Contempt",
                          "movie_name": "1963 - Contempt",
                          "imdb_id": 57345,
                          "tmdb_id": 266
                        },
                        "url": "https://www.opensubtitles.com/es/subtitles/legacy/4552383",
                        "related_links": [
                          {
                            "label": "All subtitles for Contempt",
                            "url": "https://www.opensubtitles.com/es/movies/1963-contempt",
                            "img_url": "https://s9.osdb.link/features/0/2/0/518020.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 548446,
                            "cd_number": 1,
                            "file_name": "1963.El desprecio (subt).srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "492641",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "492641",
                        "language": "es",
                        "download_count": 1477,
                        "new_download_count": 2,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "",
                        "fps": 0,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2005-08-19T22:00:00.000Z",
                        "release": "Philadelphia Story, The (1940)",
                        "comments": "",
                        "legacy_subtitle_id": 101000,
                        "uploader": {
                          "uploader_id": 14715,
                          "name": "marlowe62 (a)",
                          "rank": "bronze member"
                        },
                        "feature_details": {
                          "feature_id": 518136,
                          "feature_type": "Movie",
                          "year": 1940,
                          "title": "The Philadelphia Story",
                          "movie_name": "1940 - The Philadelphia Story",
                          "imdb_id": 32904,
                          "tmdb_id": 981
                        },
                        "url": "https://www.opensubtitles.com/es/subtitles/legacy/101000",
                        "related_links": [
                          {
                            "label": "All subtitles for The Philadelphia Story",
                            "url": "https://www.opensubtitles.com/es/movies/1940-the-philadelphia-story",
                            "img_url": "https://s9.osdb.link/features/6/3/1/518136.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 6026506,
                            "cd_number": 1,
                            "file_name": "George Cukor - Historias de Filadelfia (1940) DvdRip XviD Mp3 Dual Divxclasico.Esp.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "493247",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "493247",
                        "language": "el",
                        "download_count": 1052,
                        "new_download_count": 16,
                        "hearing_impaired": false,
                        "hd": true,
                        "format": "",
                        "fps": 23.976,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2011-05-17T07:28:54.000Z",
                        "release": "Superman.1978.720.BluRay.x264-VarK",
                        "comments": "",
                        "legacy_subtitle_id": 4179141,
                        "uploader": {
                          "uploader_id": 3282,
                          "name": "COF7CJpS",
                          "rank": "app developer"
                        },
                        "feature_details": {
                          "feature_id": 517956,
                          "feature_type": "Movie",
                          "year": 1978,
                          "title": "Superman",
                          "movie_name": "1978 - Superman",
                          "imdb_id": 78346,
                          "tmdb_id": 1924
                        },
                        "url": "https://www.opensubtitles.com/el/subtitles/legacy/4179141",
                        "related_links": [
                          {
                            "label": "All subtitles for Superman",
                            "url": "https://www.opensubtitles.com/el/movies/1978-superman",
                            "img_url": "https://s9.osdb.link/features/6/5/9/517956.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 544327,
                            "cd_number": 1,
                            "file_name": "Superman.1978.720.BluRay.x264-VarK.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "496017",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "496017",
                        "language": "en",
                        "download_count": 24642,
                        "new_download_count": 8,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "",
                        "fps": 23.98,
                        "votes": 13,
                        "points": 81,
                        "ratings": 6.2,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2002-10-10T22:00:00.000Z",
                        "release": "Jingle All the Way (1996)",
                        "comments": "none",
                        "legacy_subtitle_id": 32268,
                        "uploader": {
                          "uploader_id": 6872,
                          "name": "alxmota (a)",
                          "rank": "bronze member"
                        },
                        "feature_details": {
                          "feature_id": 518213,
                          "feature_type": "Movie",
                          "year": 1996,
                          "title": "Jingle All the Way",
                          "movie_name": "1996 - Jingle All the Way",
                          "imdb_id": 116705,
                          "tmdb_id": 9279
                        },
                        "url": "https://www.opensubtitles.com/en/subtitles/legacy/32268",
                        "related_links": [
                          {
                            "label": "All subtitles for Jingle All the Way",
                            "url": "https://www.opensubtitles.com/en/movies/1996-jingle-all-the-way",
                            "img_url": "https://s9.osdb.link/features/3/1/2/518213.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 547446,
                            "cd_number": 1,
                            "file_name": "ingles.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "496396",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "496396",
                        "language": "nl",
                        "download_count": 1993,
                        "new_download_count": 16,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "",
                        "fps": 25,
                        "votes": 1,
                        "points": 7,
                        "ratings": 7,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2013-10-10T22:54:26.000Z",
                        "release": "Come and See (Idi i smotri) (1985)",
                        "comments": "",
                        "legacy_subtitle_id": 5217608,
                        "uploader": {
                          "uploader_id": 3282,
                          "name": "COF7CJpS",
                          "rank": "app developer"
                        },
                        "feature_details": {
                          "feature_id": 518417,
                          "feature_type": "Movie",
                          "year": 1985,
                          "title": "Come and See",
                          "movie_name": "1985 - Come and See",
                          "imdb_id": 91251,
                          "tmdb_id": 25237
                        },
                        "url": "https://www.opensubtitles.com/nl/subtitles/legacy/5217608",
                        "related_links": [
                          {
                            "label": "All subtitles for Come and See",
                            "url": "https://www.opensubtitles.com/nl/movies/1985-come-and-see",
                            "img_url": "https://s9.osdb.link/features/7/1/4/518417.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 547857,
                            "cd_number": 1,
                            "file_name": "Come and See (Idi i smotri) (1985)-dut(1).srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "492427",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "492427",
                        "language": "pt-BR",
                        "download_count": 358,
                        "new_download_count": 3,
                        "hearing_impaired": false,
                        "hd": true,
                        "format": "",
                        "fps": 23.98,
                        "votes": 1,
                        "points": 1,
                        "ratings": 1,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2015-12-26T15:19:56.000Z",
                        "release": "Rambo.First.Blood.II.1985.Ultimate.Uncut.Remastered.Edition.1080p.BluRay.x264.AAC-ETRG",
                        "comments": "PT-BR subtitle uploaded by saidleugim",
                        "legacy_subtitle_id": 6437707,
                        "uploader": {
                          "uploader_id": 71162,
                          "name": "saidleugim",
                          "rank": "bronze member"
                        },
                        "feature_details": {
                          "feature_id": 517867,
                          "feature_type": "Movie",
                          "year": 1985,
                          "title": "Rambo: First Blood Part II",
                          "movie_name": "1985 - Rambo: First Blood Part II",
                          "imdb_id": 89880,
                          "tmdb_id": 1369
                        },
                        "url": "https://www.opensubtitles.com/pt-BR/subtitles/legacy/6437707",
                        "related_links": [
                          {
                            "label": "All subtitles for Rambo: First Blood Part II",
                            "url": "https://www.opensubtitles.com/pt-BR/movies/1985-rambo-first-blood-part-ii",
                            "img_url": "https://s9.osdb.link/features/7/6/8/517867.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 6026410,
                            "cd_number": 1,
                            "file_name": "Rambo.First.Blood.II.1985.Ultimate.Uncut.Remastered.Edition.1080p.BluRay.x264.AAC-ETRG.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "493721",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "493721",
                        "language": "en",
                        "download_count": 16956,
                        "new_download_count": 4,
                        "hearing_impaired": false,
                        "hd": false,
                        "format": "",
                        "fps": 25,
                        "votes": 7,
                        "points": 67,
                        "ratings": 9.6,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2007-05-16T09:07:38.000Z",
                        "release": "Hannibal",
                        "comments": "",
                        "legacy_subtitle_id": 3123830,
                        "uploader": {
                          "uploader_id": 34153,
                          "name": "arkymedes",
                          "rank": "bronze member"
                        },
                        "feature_details": {
                          "feature_id": 517991,
                          "feature_type": "Movie",
                          "year": 2001,
                          "title": "Hannibal",
                          "movie_name": "2001 - Hannibal",
                          "imdb_id": 212985,
                          "tmdb_id": 9740
                        },
                        "url": "https://www.opensubtitles.com/en/subtitles/legacy/3123830",
                        "related_links": [
                          {
                            "label": "All subtitles for Hannibal",
                            "url": "https://www.opensubtitles.com/en/movies/2001-hannibal",
                            "img_url": "https://s9.osdb.link/features/1/9/9/517991.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 544852,
                            "cd_number": 1,
                            "file_name": "Hannibal.en.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "496722",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "496722",
                        "language": "es",
                        "download_count": 544,
                        "new_download_count": 21,
                        "hearing_impaired": false,
                        "hd": true,
                        "format": "",
                        "fps": 25,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": true,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2011-05-28T08:48:56.000Z",
                        "release": "Le Mepris (1963) HDRip Dual XviD Ac3 by FitoCorleone",
                        "comments": "El.Desprecio.(Le.Mepris).(1963).HDRip.Dual.(Spa.Fr.).(Xvid+2Ac3).(proteinicos.es)...FitoCorleone.avi [1.47 Gb]/ Corregidos por el GTC de DivXClasico para Proteinicos y DXC",
                        "legacy_subtitle_id": 4184944,
                        "uploader": {
                          "uploader_id": 32127,
                          "name": "marlowe62",
                          "rank": "trusted"
                        },
                        "feature_details": {
                          "feature_id": 518020,
                          "feature_type": "Movie",
                          "year": 1963,
                          "title": "Contempt",
                          "movie_name": "1963 - Contempt",
                          "imdb_id": 57345,
                          "tmdb_id": 266
                        },
                        "url": "https://www.opensubtitles.com/es/subtitles/legacy/4184944",
                        "related_links": [
                          {
                            "label": "All subtitles for Contempt",
                            "url": "https://www.opensubtitles.com/es/movies/1963-contempt",
                            "img_url": "https://s9.osdb.link/features/0/2/0/518020.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 548202,
                            "cd_number": 1,
                            "file_name": "Le Mepris (1963) HDRip Dual XviD Ac3 by FitoCorleone.Esp.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "492688",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "492688",
                        "language": "en",
                        "download_count": 72506,
                        "new_download_count": 62,
                        "hearing_impaired": true,
                        "hd": false,
                        "format": "",
                        "fps": 25,
                        "votes": 2,
                        "points": 20,
                        "ratings": 10,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2008-07-09T13:19:22.000Z",
                        "release": "Rocky.I[1976]DvDrip-aXXo",
                        "comments": "Rocky-The.Complete.Saga[2007]DvDrip-aXXo",
                        "legacy_subtitle_id": 3302711,
                        "uploader": {
                          "uploader_id": 119465,
                          "name": "os_robot",
                          "rank": "bronze member"
                        },
                        "feature_details": {
                          "feature_id": 517932,
                          "feature_type": "Movie",
                          "year": 1976,
                          "title": "Rocky",
                          "movie_name": "1976 - Rocky",
                          "imdb_id": 75148,
                          "tmdb_id": 1366
                        },
                        "url": "https://www.opensubtitles.com/en/subtitles/legacy/3302711",
                        "related_links": [
                          {
                            "label": "All subtitles for Rocky",
                            "url": "https://www.opensubtitles.com/en/movies/1976-rocky",
                            "img_url": "https://s9.osdb.link/features/2/3/9/517932.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 543715,
                            "cd_number": 1,
                            "file_name": "Rocky.I[1976]DvDrip-aXXo.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "490625",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "490625",
                        "language": "en",
                        "download_count": 7989,
                        "new_download_count": 20,
                        "hearing_impaired": false,
                        "hd": true,
                        "format": "",
                        "fps": 0,
                        "votes": 0,
                        "points": 0,
                        "ratings": 0,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2013-07-06T11:07:28.000Z",
                        "release": "9.Songs.2004.720p.BluRay.x264.anoXmous",
                        "comments": "",
                        "legacy_subtitle_id": 5075303,
                        "uploader": {
                          "uploader_id": 3282,
                          "name": "COF7CJpS",
                          "rank": "app developer"
                        },
                        "feature_details": {
                          "feature_id": 518052,
                          "feature_type": "Movie",
                          "year": 2004,
                          "title": "9 Songs",
                          "movie_name": "2004 - 9 Songs",
                          "imdb_id": 411705,
                          "tmdb_id": 27
                        },
                        "url": "https://www.opensubtitles.com/en/subtitles/legacy/5075303",
                        "related_links": [
                          {
                            "label": "All subtitles for 9 Songs",
                            "url": "https://www.opensubtitles.com/en/movies/2004-9-songs",
                            "img_url": "https://s9.osdb.link/features/2/5/0/518052.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 541296,
                            "cd_number": 1,
                            "file_name": "9.Songs.2004.720p.BluRay.x264.anoXmous_eng.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "494835",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "494835",
                        "language": "pt-BR",
                        "download_count": 2028,
                        "new_download_count": 10,
                        "hearing_impaired": false,
                        "hd": true,
                        "format": "",
                        "fps": 24,
                        "votes": 2,
                        "points": 20,
                        "ratings": 10,
                        "from_trusted": false,
                        "foreign_parts_only": false,
                        "ai_translated": false,
                        "machine_translated": false,
                        "upload_date": "2014-09-07T13:57:21.000Z",
                        "release": "Red Sonja.1985.BDRip.720p.MultiLang.MultiSub-Pitt",
                        "comments": "",
                        "legacy_subtitle_id": 5815278,
                        "uploader": {
                          "uploader_id": 62530,
                          "name": "fjones1979",
                          "rank": "trusted"
                        },
                        "feature_details": {
                          "feature_id": 518067,
                          "feature_type": "Movie",
                          "year": 1985,
                          "title": "Red Sonja",
                          "movie_name": "1985 - Red Sonja",
                          "imdb_id": 89893,
                          "tmdb_id": 9626
                        },
                        "url": "https://www.opensubtitles.com/pt-BR/subtitles/legacy/5815278",
                        "related_links": [
                          {
                            "label": "All subtitles for Red Sonja",
                            "url": "https://www.opensubtitles.com/pt-BR/movies/1985-red-sonja",
                            "img_url": "https://s9.osdb.link/features/7/6/0/518067.jpg"
                          }
                        ],
                        "files": [
                          {
                            "file_id": 546129,
                            "cd_number": 1,
                            "file_name": "Red Sonja.1985.BDRip.720p.MultiLang.MultiSub-Pitt.por.srt"
                          }
                        ]
                      }
                    },
                    {
                      "id": "492618",
                      "type": "subtitle",
                      "attributes": {
                        "subtitle_id": "492618",
                        "language": "pl",
                        "download_count": 147,
                        "new_download_count": 4,
[...]
