{
    "openapi": "3.0.3",
    "info": {
        "title": "OpenSubtitles API",
        "description": "Explore subtitles API here",
        "contact": {
            "name": "OpenSubtitles API Support",
            "url": "http://www.opensubtitles.com/en/contact/",
            "email": "support@opensubtitles.org"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.1"
    },
    "servers": [
        {
            "url": "https://api.opensubtitles.com/api/v1"
        }
    ],
    "tags": [
        {
            "name": "Infos",
            "description": "General API infos"
        },
        {
            "name": "Authentication",
            "description": "Authentification of user"
        },
        {
            "name": "Discover",
            "description": "Discover popular, latest and most downloaded subtitles"
        },
        {
            "name": "Download",
            "description": "Download of subtitles"
        },
        {
            "name": "Subtitles",
            "description": "Subtitles search for a specific release"
        },
        {
            "name": "Features",
            "description": "Search for feature"
        },
        {
            "name": "Utilities",
            "description": "Various utilities"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login",
                "description": "Create a token to authenticate a user. If response code is ```401 Unathorized``` stop sending further requests with same credentials.\n\nRequest limit is set 1 request per 1 second.",
                "operationId": "login",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "application/json",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password",
                                    "username"
                                ],
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "description": ""
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "Create session and token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "status",
                                        "token",
                                        "user"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "required": [
                                                "allowed_downloads",
                                                "ext_installed",
                                                "level",
                                                "user_id",
                                                "vip"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "allowed_translations": {
                                                    "type": "number"
                                                },
                                                "allowed_downloads": {
                                                    "type": "number"
                                                },
                                                "level": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "user_id": {
                                                    "type": "number"
                                                },
                                                "ext_installed": {
                                                    "type": "boolean"
                                                },
                                                "vip": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "token": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "number"
                                        }
                                    },
                                    "description": ""
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/logout": {
            "delete": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout",
                "description": "Destroy a user token to end a session. Bearer token is required for this endpoint.",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Destroy session and current token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Bearer": []
                    },
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/infos/formats": {
            "get": {
                "tags": [
                    "Infos"
                ],
                "summary": "Subtitle Formats",
                "description": "List subtitle formats recognized by the API  ",
                "operationId": "formats",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "required": [
                                                "output_formats"
                                            ],
                                            "properties": {
                                                "output_formats": {
                                                    "type": "array",
                                                    "items": {}
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/infos/languages": {
            "get": {
                "tags": [
                    "Infos"
                ],
                "summary": "Languages",
                "description": "Get the languages information",
                "operationId": "languages",
                "responses": {
                    "200": {
                        "description": "Get the languages table containing the codes and names used through the API",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "data"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "required": [
                                                    "language_code",
                                                    "language_name"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                    "language_code": {
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "language_name": {
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "description": ""
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/infos/user": {
            "get": {
                "tags": [
                    "Infos"
                ],
                "summary": "User Informations",
                "description": "Gather informations about the user authenticated by a bearer token. User information are already sent when user is authenticated, and the remaining downloads is returned with each download, but you can also get these information here.",
                "operationId": "userinfo",
                "responses": {
                    "200": {
                        "description": "Get user data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "data"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "allowed_downloads": {
                                                    "type": "number"
                                                },
                                                "level": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "user_id": {
                                                    "type": "number"
                                                },
                                                "ext_installed": {
                                                    "type": "boolean"
                                                },
                                                "vip": {
                                                    "type": "boolean"
                                                },
                                                "downloads_count": {
                                                    "type": "number"
                                                },
                                                "remaining_downloads": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    },
                                    "description": ""
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Bearer": []
                    },
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/discover/popular": {
            "get": {
                "tags": [
                    "Discover"
                ],
                "summary": "Popular features",
                "description": "Discover popular features on opensubtitles.com, according to last 30 days downloads.",
                "operationId": "popular",
                "parameters": [
                    {
                        "name": "languages",
                        "in": "query",
                        "description": "Language code(s), coma separated (en,fr) or \"all\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type (movie or tvshow)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subtitle"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/discover/latest": {
            "get": {
                "tags": [
                    "Discover"
                ],
                "summary": "Latest subtitles",
                "description": "Lists 60 latest uploaded subtitles",
                "operationId": "latest",
                "parameters": [
                    {
                        "name": "languages",
                        "in": "query",
                        "description": "Language code(s), coma separated (en,fr) or \"all\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type (movie or tvshow)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "data",
                                        "page",
                                        "total_count",
                                        "total_pages"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "total_pages": {
                                            "type": "number"
                                        },
                                        "total_count": {
                                            "type": "number"
                                        },
                                        "page": {
                                            "type": "number"
                                        },
                                        "data": {
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "required": [
                                                    "id",
                                                    "type"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "attributes": {
                                                        "type": "object",
                                                        "properties": {
                                                            "subtitle_id": {
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "language": {
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "download_count": {
                                                                "type": "number"
                                                            },
                                                            "new_download_count": {
                                                                "type": "number"
                                                            },
                                                            "hearing_impaired": {
                                                                "type": "boolean"
                                                            },
                                                            "hd": {
                                                                "type": "boolean"
                                                            },
                                                            "format": {
                                                                "type": "object"
                                                            },
                                                            "fps": {
                                                                "type": "number"
                                                            },
                                                            "votes": {
                                                                "type": "number"
                                                            },
                                                            "points": {
                                                                "type": "number"
                                                            },
                                                            "ratings": {
                                                                "type": "number"
                                                            },
                                                            "from_trusted": {
                                                                "type": "boolean"
                                                            },
                                                            "foreign_parts_only": {
                                                                "type": "boolean"
                                                            },
                                                            "ai_translated": {
                                                                "type": "boolean"
                                                            },
                                                            "machine_translated": {
                                                                "type": "object"
                                                            },
                                                            "upload_date": {
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "release": {
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "legacy_subtitle_id": {
                                                                "type": "number"
                                                            },
                                                            "uploader": {
                                                                "required": [
                                                                    "name",
                                                                    "rank",
                                                                    "uploader_id"
                                                                ],
                                                                "type": "object",
                                                                "properties": {
                                                                    "uploader_id": {
                                                                        "type": "number"
                                                                    },
                                                                    "name": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "rank": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "feature_details": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "feature_id": {
                                                                        "type": "number"
                                                                    },
                                                                    "feature_type": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "year": {
                                                                        "type": "number"
                                                                    },
                                                                    "title": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "movie_name": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "imdb_id": {
                                                                        "type": "number"
                                                                    },
                                                                    "tmdb_id": {
                                                                        "type": "object"
                                                                    }
                                                                }
                                                            },
                                                            "url": {
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "related_links": {
                                                                "required": [
                                                                    "img_url",
                                                                    "label",
                                                                    "url"
                                                                ],
                                                                "type": "object",
                                                                "properties": {
                                                                    "label": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "url": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "img_url": {
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "files": {
                                                                "minItems": 1,
                                                                "uniqueItems": true,
                                                                "type": "array",
                                                                "items": {
                                                                    "required": [
                                                                        "cd_number",
                                                                        "file_id",
                                                                        "file_name"
                                                                    ],
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "file_id": {
                                                                            "type": "number"
                                                                        },
                                                                        "cd_number": {
                                                                            "type": "number"
                                                                        },
                                                                        "file_name": {
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "description": ""
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/discover/most_downloaded": {
            "get": {
                "tags": [
                    "Discover"
                ],
                "summary": "Most downloaded subtitles",
                "description": "Discover popular subtitles, according to last 30 days downloads on opensubtitles.com. This list can be filtered by language code or feature type (movie, episode)",
                "operationId": "most_downloaded",
                "parameters": [
                    {
                        "name": "languages",
                        "in": "query",
                        "description": "Language code(s), coma separated (en,fr), or \"all\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type (movie or tvshow)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lists most downloaded movie subtitles ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "",
                                    "properties": {
                                        "total_pages": {
                                            "type": "number"
                                        },
                                        "total_count": {
                                            "type": "number"
                                        },
                                        "page": {
                                            "type": "number"
                                        },
                                        "data": {
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Subtitle"
                                            }
                                        }
                                    },
                                    "required": [
                                        "total_pages",
                                        "total_count",
                                        "page",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/features": {
            "get": {
                "tags": [
                    "Features"
                ],
                "summary": "Search for features",
                "description": "With the \"query\" parameter, search for a Feature from a simple text input. Typically used for a text search or autocomplete.\n\nWith an ID, get basic information and subtitles count for a specific title.\n\n<!-- theme: warning -->\n\n> ### Watch Out!\n>\n> If you create an autocomplete, don't set a too small refresh limit, remember you must not go over 40 requests per 10 seconds!",
                "operationId": "features",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to search, release/file name accepted",
                        "schema": {
                            "minLength": 3,
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "empty to list all or **movie**, **tvshow** or **episode**.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "feature_id",
                        "in": "query",
                        "description": "opensubtitles **feature_id**",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "imdb_id",
                        "in": "query",
                        "description": "IMDB ID, delete leading zeroes",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tmdb_id",
                        "in": "query",
                        "description": "TheMovieDB ID - combine with type to avoid errors",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter by year. Can only be used in combination with a query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search for a feature",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "movie": {
                                            "$ref": "#/components/schemas/Feature-Movie"
                                        },
                                        "episode": {
                                            "$ref": "#/components/schemas/Feature-Episode"
                                        },
                                        "tv": {
                                            "$ref": "#/components/schemas/Feature-Tvshow"
                                        }
                                    },
                                    "description": ""
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/subtitles": {
            "get": {
                "tags": [
                    "Subtitles"
                ],
                "summary": "Search for subtitles",
                "description": "Find subtitle for a video file. All parameters can be combined following various logics: searching by a specific external id (imdb, tmdb), a file moviehash, or a simple text query.\n\n<!-- theme: warning -->\n> Something wrong? Read about [common mistakes and best practices](docs/2-Best-Practices.md)\n\nImplement the logic that best fit your needs, remembering that:\n- if you can get moviehash from file - send it\n- if you know the ID, IMDB or TMDB, send this rather than a query, an ID will always be more precise\n- if you search for TV show episodes, sending the parent ID, episode and season number will give best results\n- send the filename as query parameter together with the moviehash for better results. If your filenames are generally irrelevant, for example a dynamically generated filename from a streaming service, no need to send it.\n- you can combine all together (send everything what you have and we will take of rest)\n\n\n> Avoid http redirection by sending request parameters sorted and without default values, and send all queries in lowercase. Remove leading zeroes in IMDB ID\n\n### Moviehash \nIf a moviehash is sent with a request, a \"moviehash_match\" boolean field will be added to the response.\n\nThe matching subtitles will always come first in the response.\n\n\n### Ordering\nYou can order the results using the *order_by* parameter. Ordering is possible on the following fields:\n_ language, download_count, new_download_count, hearing_impaired, hd, format, fps, votes, points, ratings, from_trusted, foreign_parts_only, ai_translated, machine_translated, upload_date, release, comments _\n\nChange the order direction with *order_direction* (asc/desc)\n\n",
                "operationId": "subtitles",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the movie or episode",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "imdb_id",
                        "in": "query",
                        "description": "IMDB ID of the movie or episode",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tmdb_id",
                        "in": "query",
                        "description": "TMDB ID of the movie or episode",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "movie, episode or all, (default: all) ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "file name or text search",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "languages",
                        "in": "query",
                        "description": "Language code(s), coma separated (en,fr)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "moviehash",
                        "in": "query",
                        "description": "Moviehash of the movie",
                        "schema": {
                            "maxLength": 16,
                            "minLength": 16,
                            "pattern": "^[a-f0-9]{16}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "To be used alone - for user uploads listing",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hearing_impaired",
                        "in": "query",
                        "description": "include, exclude, only. (default: include)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "foreign_parts_only",
                        "in": "query",
                        "description": "exclude, include, only (default: include)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "trusted_sources",
                        "in": "query",
                        "description": "include, only (default: include)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "machine_translated",
                        "in": "query",
                        "description": "exclude, include  (default: exclude)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ai_translated",
                        "in": "query",
                        "description": "exclude, include  (default: exclude)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order of the returned results, accept any of above fields",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_direction",
                        "in": "query",
                        "description": "Order direction of the returned results (asc,desc)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parent_feature_id",
                        "in": "query",
                        "description": "For Tvshows",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parent_imdb_id",
                        "in": "query",
                        "description": "For Tvshows",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parent_tmdb_id",
                        "in": "query",
                        "description": "For Tvshows",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "season_number",
                        "in": "query",
                        "description": "For Tvshows\n",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "episode_number",
                        "in": "query",
                        "description": "For Tvshows",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter by movie/episode year",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "moviehash_match",
                        "in": "query",
                        "description": "include, only (default: include)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Results page to display",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Find subtitles for a video file ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "",
                                    "properties": {
                                        "total_pages": {
                                            "type": "number"
                                        },
                                        "total_count": {
                                            "type": "number"
                                        },
                                        "page": {
                                            "type": "number"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Subtitle"
                                            }
                                        }
                                    },
                                    "required": [
                                        "total_pages",
                                        "total_count",
                                        "page",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        },
        "/download": {
            "post": {
                "tags": [
                    "Download"
                ],
                "summary": "Download",
                "description": "Request a download url for a subtitle. \n\n\n> The download count is calculated on this action, not the file download itself\n\n> IN and OUT FPS must be indicated for subtitle conversions, we want to make sure you know what you are doing, and therefore collected the current FPS from the subtitle search result, or calculated it somehow.\n\n<!-- theme: warning -->\n\n> The download URL is temporary, and cannot be used more than 3 hours, so do not cache it, but you can download the file more than once if needed.",
                "operationId": "download",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "description": "",
                                "properties": {
                                    "file_id": {
                                        "type": "integer",
                                        "description": "file_id from /subtitles search results",
                                        "format": "int32",
                                        "example": 123
                                    },
                                    "sub_format": {
                                        "type": "string",
                                        "description": "from /infos/formats"
                                    },
                                    "file_name": {
                                        "type": "string",
                                        "description": "desired file name"
                                    },
                                    "in_fps": {
                                        "type": "number",
                                        "description": "used for conversions, in_fps and out_fps must then be indicated"
                                    },
                                    "out_fps": {
                                        "type": "number",
                                        "description": "used for conversions, in_fps and out_fps must then be indicated"
                                    },
                                    "timeshift": {
                                        "type": "number",
                                        "description": ""
                                    },
                                    "force_download": {
                                        "type": "boolean",
                                        "description": "(1/0) set subtitle file headers to \"application/force-download\""
                                    }
                                },
                                "required": [
                                    "file_id"
                                ]
                            }
                        }
                    },
                    "required": false,
                    "description": ""
                },
                "responses": {
                    "200": {
                        "description": "Request a download url for a subtitle. \n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "type": "object",
                                    "properties": {
                                        "link": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "file_name": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "requests": {
                                            "type": "number"
                                        },
                                        "remaining": {
                                            "type": "number"
                                        },
                                        "message": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "reset_time": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "reset_time_utc": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "Bearer": []
                    },
                    {
                        "Api-Key": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            },
            "parameters": []
        },
        "/utilities/guessit": {
            "get": {
                "tags": [
                    "Utilities"
                ],
                "summary": "Guessit",
                "description": "Extracts as much information as possible from a video filename.\n\nIt has a very powerful matcher that allows to guess properties from a video using its filename only. This matcher works with both movies and tv shows episodes.\n\nThis is a simple implementation of the python guessit library.\nhttps://doc.guessit.io\n\nFind examples of the returned data.\nhttps://doc.guessit.io/properties/",
                "operationId": "guessit",
                "parameters": [
                    {
                        "name": "filename",
                        "in": "query",
                        "description": "File name",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "title": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "year": {
                                            "type": "number"
                                        },
                                        "language": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "subtitle_language": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "screen_size": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "streaming_service": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "source": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "other": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "audio_codec": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "audio_channels": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "video_codec": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "release_group": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": {
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "description": ""
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Api-Key": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Subtitle": {
                "title": "",
                "type": "object",
                "description": "",
                "x-tags": [
                    "Models"
                ],
                "properties": {
                    "id": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "type": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "subtitle_id": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "language": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "download_count": {
                                "type": "number"
                            },
                            "new_download_count": {
                                "type": "number"
                            },
                            "hearing_impaired": {
                                "type": "boolean"
                            },
                            "hd": {
                                "type": "boolean"
                            },
                            "format": {
                                "type": "string"
                            },
                            "fps": {
                                "type": "number"
                            },
                            "votes": {
                                "type": "number"
                            },
                            "points": {
                                "type": "number"
                            },
                            "ratings": {
                                "type": "number"
                            },
                            "from_trusted": {
                                "type": "boolean"
                            },
                            "foreign_parts_only": {
                                "type": "boolean"
                            },
                            "ai_translated": {
                                "type": "boolean"
                            },
                            "machine_translated": {
                                "type": "boolean"
                            },
                            "upload_date": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "release": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "legacy_subtitle_id": {
                                "type": "number"
                            },
                            "uploader": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "rank"
                                ],
                                "properties": {
                                    "uploader_id": {
                                        "type": "number"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "rank": {
                                        "type": "string"
                                    }
                                }
                            },
                            "feature_details": {
                                "type": "object",
                                "properties": {
                                    "feature_id": {
                                        "type": "number"
                                    },
                                    "feature_type": {
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "year": {
                                        "type": "number"
                                    },
                                    "title": {
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "movie_name": {
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "imdb_id": {
                                        "type": "number"
                                    },
                                    "tmdb_id": {
                                        "type": "number"
                                    }
                                }
                            },
                            "url": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "related_links": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "files": {
                                "minItems": 1,
                                "uniqueItems": true,
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "file_id": {
                                            "type": "number"
                                        },
                                        "cd_number": {
                                            "type": "number"
                                        },
                                        "file_name": {
                                            "minLength": 1,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "file_id",
                                        "cd_number",
                                        "file_name"
                                    ]
                                }
                            }
                        }
                    }
                },
                "required": [
                    "id",
                    "type",
                    "attributes"
                ]
            },
            "Feature-Tvshow": {
                "required": [
                    "attributes",
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "type": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "original_title": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "year": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "imdb_id": {
                                "type": "number"
                            },
                            "tmdb_id": {
                                "type": "number"
                            },
                            "title_aka": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {}
                                }
                            },
                            "feature_id": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "url": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "img_url": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "subtitles_counts": {
                                "type": "object",
                                "properties": {
                                    "pl": {
                                        "type": "number"
                                    },
                                    "en": {
                                        "type": "number"
                                    },
                                    "pt-BR": {
                                        "type": "number"
                                    },
                                    "ro": {
                                        "type": "number"
                                    },
                                    "nl": {
                                        "type": "number"
                                    },
                                    "pt-PT": {
                                        "type": "number"
                                    },
                                    "es": {
                                        "type": "number"
                                    },
                                    "he": {
                                        "type": "number"
                                    },
                                    "hu": {
                                        "type": "number"
                                    },
                                    "el": {
                                        "type": "number"
                                    },
                                    "fr": {
                                        "type": "number"
                                    },
                                    "tr": {
                                        "type": "number"
                                    },
                                    "cs": {
                                        "type": "number"
                                    },
                                    "fi": {
                                        "type": "number"
                                    },
                                    "ar": {
                                        "type": "number"
                                    },
                                    "hr": {
                                        "type": "number"
                                    },
                                    "sl": {
                                        "type": "number"
                                    },
                                    "bg": {
                                        "type": "number"
                                    },
                                    "sr": {
                                        "type": "number"
                                    },
                                    "sv": {
                                        "type": "number"
                                    },
                                    "de": {
                                        "type": "number"
                                    },
                                    "et": {
                                        "type": "number"
                                    },
                                    "da": {
                                        "type": "number"
                                    },
                                    "bs": {
                                        "type": "number"
                                    },
                                    "it": {
                                        "type": "number"
                                    },
                                    "mk": {
                                        "type": "number"
                                    },
                                    "ru": {
                                        "type": "number"
                                    },
                                    "no": {
                                        "type": "number"
                                    },
                                    "th": {
                                        "type": "number"
                                    },
                                    "vi": {
                                        "type": "number"
                                    },
                                    "ja": {
                                        "type": "number"
                                    },
                                    "fa": {
                                        "type": "number"
                                    },
                                    "zh-CN": {
                                        "type": "number"
                                    },
                                    "ca": {
                                        "type": "number"
                                    },
                                    "id": {
                                        "type": "number"
                                    },
                                    "sk": {
                                        "type": "number"
                                    },
                                    "ko": {
                                        "type": "number"
                                    },
                                    "zh-TW": {
                                        "type": "number"
                                    }
                                }
                            },
                            "subtitles_count": {
                                "type": "number"
                            },
                            "seasons": {
                                "minItems": 1,
                                "uniqueItems": true,
                                "type": "array",
                                "items": {
                                    "required": [
                                        "season_number"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "season_number": {
                                            "type": "number"
                                        },
                                        "episodes": {
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "episode_number": {
                                                        "type": "number"
                                                    },
                                                    "title": {
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "feature_id": {
                                                        "type": "number"
                                                    },
                                                    "feature_imdb_id": {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "",
                "x-tags": [
                    "Models"
                ]
            },
            "Feature-Episode": {
                "required": [
                    "attributes",
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "type": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "original_title": {
                                "type": "object"
                            },
                            "year": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "parent_imdb_id": {
                                "type": "object"
                            },
                            "parent_title": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "season_number": {
                                "type": "number"
                            },
                            "episode_number": {
                                "type": "number"
                            },
                            "imdb_id": {
                                "type": "number"
                            },
                            "tmdb_id": {
                                "type": "number"
                            },
                            "title_aka": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {}
                                }
                            },
                            "feature_id": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "url": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "img_url": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "subtitles_counts": {
                                "type": "object",
                                "properties": {
                                    "pl": {
                                        "type": "number"
                                    },
                                    "en": {
                                        "type": "number"
                                    },
                                    "pt-BR": {
                                        "type": "number"
                                    },
                                    "es": {
                                        "type": "number"
                                    },
                                    "ro": {
                                        "type": "number"
                                    },
                                    "nl": {
                                        "type": "number"
                                    },
                                    "tr": {
                                        "type": "number"
                                    },
                                    "he": {
                                        "type": "number"
                                    },
                                    "pt-PT": {
                                        "type": "number"
                                    },
                                    "cs": {
                                        "type": "number"
                                    },
                                    "fi": {
                                        "type": "number"
                                    },
                                    "hu": {
                                        "type": "number"
                                    },
                                    "ar": {
                                        "type": "number"
                                    },
                                    "bg": {
                                        "type": "number"
                                    },
                                    "fr": {
                                        "type": "number"
                                    },
                                    "sl": {
                                        "type": "number"
                                    },
                                    "el": {
                                        "type": "number"
                                    },
                                    "hr": {
                                        "type": "number"
                                    },
                                    "sr": {
                                        "type": "number"
                                    },
                                    "et": {
                                        "type": "number"
                                    },
                                    "sv": {
                                        "type": "number"
                                    },
                                    "th": {
                                        "type": "number"
                                    },
                                    "bs": {
                                        "type": "number"
                                    },
                                    "da": {
                                        "type": "number"
                                    },
                                    "de": {
                                        "type": "number"
                                    },
                                    "mk": {
                                        "type": "number"
                                    },
                                    "no": {
                                        "type": "number"
                                    },
                                    "ru": {
                                        "type": "number"
                                    }
                                }
                            },
                            "subtitles_count": {
                                "type": "number"
                            }
                        }
                    }
                },
                "description": "",
                "x-tags": [
                    "Models"
                ]
            },
            "Feature-Movie": {
                "required": [
                    "attributes",
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "type": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "attributes": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "original_title": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "year": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "subtitles_counts": {
                                "type": "object",
                                "properties": {
                                    "en": {
                                        "type": "number"
                                    },
                                    "pt-PT": {
                                        "type": "number"
                                    },
                                    "fi": {
                                        "type": "number"
                                    },
                                    "pt-BR": {
                                        "type": "number"
                                    },
                                    "es": {
                                        "type": "number"
                                    },
                                    "ar": {
                                        "type": "number"
                                    },
                                    "pl": {
                                        "type": "number"
                                    },
                                    "sr": {
                                        "type": "number"
                                    },
                                    "id": {
                                        "type": "number"
                                    },
                                    "ro": {
                                        "type": "number"
                                    },
                                    "zh-CN": {
                                        "type": "number"
                                    },
                                    "nl": {
                                        "type": "number"
                                    },
                                    "el": {
                                        "type": "number"
                                    },
                                    "hu": {
                                        "type": "number"
                                    },
                                    "fr": {
                                        "type": "number"
                                    },
                                    "sl": {
                                        "type": "number"
                                    },
                                    "tr": {
                                        "type": "number"
                                    },
                                    "et": {
                                        "type": "number"
                                    },
                                    "bg": {
                                        "type": "number"
                                    },
                                    "cs": {
                                        "type": "number"
                                    },
                                    "de": {
                                        "type": "number"
                                    },
                                    "he": {
                                        "type": "number"
                                    },
                                    "it": {
                                        "type": "number"
                                    },
                                    "vi": {
                                        "type": "number"
                                    },
                                    "hr": {
                                        "type": "number"
                                    },
                                    "ko": {
                                        "type": "number"
                                    },
                                    "no": {
                                        "type": "number"
                                    },
                                    "sv": {
                                        "type": "number"
                                    },
                                    "ta": {
                                        "type": "number"
                                    },
                                    "eu": {
                                        "type": "number"
                                    },
                                    "da": {
                                        "type": "number"
                                    },
                                    "fa": {
                                        "type": "number"
                                    },
                                    "sk": {
                                        "type": "number"
                                    },
                                    "uk": {
                                        "type": "number"
                                    },
                                    "zh-TW": {
                                        "type": "number"
                                    },
                                    "bn": {
                                        "type": "number"
                                    },
                                    "ka": {
                                        "type": "number"
                                    },
                                    "ja": {
                                        "type": "number"
                                    },
                                    "lt": {
                                        "type": "number"
                                    },
                                    "mk": {
                                        "type": "number"
                                    },
                                    "ml": {
                                        "type": "number"
                                    },
                                    "ms": {
                                        "type": "number"
                                    },
                                    "ru": {
                                        "type": "number"
                                    },
                                    "ze": {
                                        "type": "number"
                                    }
                                }
                            },
                            "subtitles_count": {
                                "type": "number"
                            },
                            "seasons_count": {
                                "type": "number"
                            },
                            "parent_title": {
                                "type": "string"
                            },
                            "season_number": {
                                "type": "number"
                            },
                            "episode_number": {
                                "type": "object"
                            },
                            "imdb_id": {
                                "type": "number"
                            },
                            "tmdb_id": {
                                "type": "number"
                            },
                            "parent_imdb_id": {
                                "type": "object"
                            },
                            "feature_id": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "title_aka": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {}
                                }
                            },
                            "feature_type": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "url": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "img_url": {
                                "minLength": 1,
                                "type": "string"
                            }
                        }
                    }
                },
                "description": "",
                "x-tags": [
                    "Models"
                ]
            }
        },
        "securitySchemes": {
            "Api-Key": {
                "type": "apiKey",
                "description": "Application API key obtained in the user profile of app developer on opensubtitles.com to authorise the **application**",
                "name": "Api-Key",
                "in": "header"
            },
            "Bearer": {
                "type": "http",
                "description": "User token created in the login endpoint to authorise opensubtitles.com **user**",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "security": [
        {
            "Api-Key": []
        }
    ]
}