<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<appender name="devnull" class="org.apache.log4j.varia.NullAppender" />
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="hsqldb.db.HSQLDB4BC5C50F27.ENGINE">
			<level value="ERROR" />
			<AppenderRef ref="devnull" />
		</logger>
	</Loggers>
</Configuration>